.DS_Store
**/.DS_Store

.env
.env.*
!.env.example

*.log
*.tmp
*.swp
*.pyc
__pycache__/

.idea/
.vscode/

**/target/
**/node_modules/
**/build/
**/dist/
code/backend/src/main/resources/static/

**/logs/
*.pid

code/benchmarks/
