.DS_Store
**/.DS_Store

.env
.env.*
!.env.example

*.log
*.tmp
*.swp
*.pyc
__pycache__/

.idea/
.vscode/

code/api-java/target/
code/api-java/.mvn/wrapper/maven-wrapper.jar

code/frontend/node_modules/
code/frontend/build/

code/measurements/results/*.pdf
